@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: yellowgreen;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.form {
  font-family: "Poppins", sans-serif;
  background-color: green;
  margin: 30px auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
}
.form-title {
  font-size: 2rem;
  margin-bottom: 0.5em;
  color: white;
  align-items: center;
}
.form-paragraph {
  font-size: small;
  font-weight: 300;
  color: white;
  text-align: center;
}
.form-paragraph .form-link {
  font-weight: 400;
  color: yellow;
}
.form-container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}
.form-container .form-group {
  position: relative;
  color: purple;
}
.form-container .form-group .form-input {
  width: 100%;
  background: none;
  color: yellow;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid yellow;
  font-family: "Roboto", sans-serif;
}
.form-container .form-group .form-input:not(:-moz-placeholder-shown) + .form-label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: lightblue;
}
.form-container .form-group .form-input:not(:-ms-input-placeholder) + .form-label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: lightblue;
}
.form-container .form-group .form-input:focus + .form-label, .form-container .form-group .form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: lightblue;
}
.form-container .form-group .form-input:not(:-moz-placeholder-shown) ~ .form-line {
  transform: scale(1);
}
.form-container .form-group .form-input:not(:-ms-input-placeholder) ~ .form-line {
  transform: scale(1);
}
.form-container .form-group .form-input:focus ~ .form-line, .form-container .form-group .form-input:not(:placeholder-shown) ~ .form-line {
  transform: scale(1);
}
.form-container .form-group .form-input:not(:-moz-placeholder-shown) {
  color: lightblue;
}
.form-container .form-group .form-input:not(:-ms-input-placeholder) {
  color: lightblue;
}
.form-container .form-group .form-input:focus, .form-container .form-group .form-input:not(:placeholder-shown) {
  color: lightblue;
}
.form-container .form-group .form-label {
  color: yellow;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
.form-container .form-group .form-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: lightblue;
  transform: scale(0);
  transform: left bottom;
  transition: transform 0.4s;
}
.form-container .form-submit {
  background-color: yellow;
  color: green;
  font-size: 1rem;
  font-weight: 300;
  font-family: "Popins", sans-serif;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.3s all;
}
.form-container .form-submit:hover {
  background-color: blue;
  color: yellow;
}

@media (max-width: 425px) {
  .form-title {
    font-size: 1.8rem;
  }
}
#chat-container {
  max-width: 600px;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  margin: 30px auto;
  width: 90%;
  background-color: yellow;
}

#chat-window {
  background-color: white;
  padding: 14px 0;
  margin: 0 10px;
  height: 200px;
  border-bottom: 1px solid #e9e9e9;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

#output {
  padding: 14px 0;
  margin: 0 20px;
}
#output p .message-user {
  color: blue;
}
#output p .message-date {
  color: brown;
}
#output p .message-txt {
  color: green;
  font-style: italic;
}

#actions p {
  padding: 14px 0;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #555;
}

input {
  padding: 10px 20px;
  box-sizing: border-box;
  border: 0;
  background: #eee;
  display: block;
  width: 100%;
}

button {
  background-color: green;
  color: #fff;
  font-size: 18px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}

.section-products {
  width: 90%;
  height: 400px;
  overflow-x: auto;
  background-color: yellow;
  font-family: "Roboto", sans-serif;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid green;
  box-shadow: 2px 2px 3px black;
}

.products-title {
  font-family: "Poppins", sans-serif;
  color: green;
  margin-top: 20px;
  text-align: center;
}

tbody {
  background-color: yellowgreen;
  color: green;
  margin: 30px 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}

table thead {
  font-weight: 700;
}
table thead td {
  background-color: green;
  color: white;
  border: none;
  padding: 6px 0;
}

table td {
  border-bottom: 2px solid silver;
  padding: 10px;
  text-align: center;
}
table td:nth-child(1) {
  width: 100px;
}
table td:nth-child(2), table td:nth-child(3) {
  width: 200px;
}
table td:nth-child(4), table td:nth-child(5), table td:nth-child(6) {
  width: 170px;
}

table tbody img {
  width: 120px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 1px 2px 4px black;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */